<div class="birthday-modal">
	<h3>Please enter the birthday for the child receiving this box of fun!</h3>
	<select name="month">
		<option value="January">January</option>
		<option value="February">February</option>
		<option value="March">March</option>
		<option value="April">April</option>
		<option value="May">May</option>
		<option value="June">June</option>
		<option value="July">July</option>
		<option value="August">August</option>
		<option value="September">September</option>
		<option value="October">October</option>
		<option value="November">November</option>
		<option value="December">December</option>
	</select>

	<select name="day">
		{% assign days = '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31' %}
		{% assign days = days | split: ',' %}
		{% for day in days %}
			<option value="{{ day }}">{{ day }}</option>
		{% endfor %}
	</select>

	{% capture year %}{{ 'now' | date: "%Y" }}{% endcapture %}
	{% capture years %}{{year}},{{year | minus: 1}},{{year | minus: 2}},{{year | minus: 3}},{{year | minus: 4}},{{year | minus: 5}},{{year | minus: 6}},{{year | minus: 7}},{{year | minus: 8}},{{year | minus: 9}},{{year | minus: 10}},{{year | minus: 11}},{{year | minus: 12}},{{year | minus: 13}},{{year | minus: 14}},{{year | minus: 15}},{{year | minus: 16}},{{year | minus: 17}},{{year | minus: 18}}{% endcapture %}
	{% assign years = years | split: ',' %}
	<select name="day">
		{% for count in years %}
			<option value="{{ count }}">{{ count }}</option>
		{% endfor %}
	</select>

</div>